:root {
  --pomodoro: #CE593F
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.wrapper {
  display: grid;
  place-content: center;
  min-height: 100vh;
}
